#mainBody {
    margin:0 auto;
    position: absolute;
    width: 1000px;
    display: flex;
    justify-content: center;
}
.paragraph {
    color: blue;
}

#imagesGrid {
    border: 2px dashed black;
}