.heading1 {
    text-align: center;
    color: #4a7bcc;
    font-size: 40px;
}

.image {
    width: 220px;
    /*margin: 10px;*/
}

.image:hover {
    box-shadow: 0 0 9px 4px #4d4f51;
    border-radius: 8px;
    /*margin: 5px;*/
    /*width: 230px;*/
}

#mainBody {
    margin: 0 auto;
    width: 1000px;
    height: auto;
}

#imagesGrid {
    margin: auto;
    border: 2px black;
}

